{% include "header.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
<div class="">
    <div class="row justify-content-md-center">
        {{ckeditor.load()}}
        {{ckeditor.config(name='body')}}
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        {% if message %}
        <p class="error"><strong>{{message}}</strong></p>
        {%endif%}
        {%endfor%}
        {%endwith%}
        {{wtf.quick_form(form , novalidate=True, button_map={"submit":"primary"})}}
        </form>
    </div>
    <div class="row justify-content-md-center">
        New Customer? <a href="{{url_for('register')}}">Sign up →</a>
    </div>
</div>

{% include "footer.html" %}